{
  "extends": [
    "plugin:import/recommended"
  ],
  "plugins": ["unused-imports"],
  "rules": {
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
        "warn",
        {
            "vars": "all",
            "varsIgnorePattern": "^_",
            "args": "after-used",
            "argsIgnorePattern": "^_"
        }
    ],
    "semi": ["error", "always"],
    "import/extensions": [
      2, "always",
      {
        "js": "always",
        "jsx": "always",
        "mjs": "always",
        "ts": "always",
        "tsx": "always"
      }
    ]
  }
}